In [2]:
import pandas as pd
import seaborn as sns

In [4]:
df = pd.read_csv("final_data.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 154 entries, 0 to 153
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     154 non-null    int64
 1   Id             154 non-null    int64
 2   SepalLengthCm  154 non-null    float64
 3   SepalWidthCm   154 non-null    float64
 4   PetalLengthCm  154 non-null    float64
 5   PetalWidthCm   154 non-null    float64
 6   Species        154 non-null    object
dtypes: float64(4), int64(2), object(1)
memory usage: 8.5+ KB

# Gereksiz kolonların düşürülmesi:

In [6]:
df.columns

Index(['Unnamed: 0', 'Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'],
      dtype='object')

In [9]:
df = df.drop(labels = (df.columns[0]), axis = 1)  # burada shift tab ile fonk çalışması için gereken argümanları görebiirsin.

burada genel istatistik bilgilerini görmektense grup bazında sıralayıp görmek daha mantıklı.

In [12]:
df.groupby("Species").agg(["min", "std", "mean","max"])

                  Id                             SepalLengthCm            \
                 min        std        mean  max           min       std
Species
Iris-setosa        0  16.494049   26.106383   58           4.3  0.336838
Iris-versicolor   60  15.875125   86.433962  113           4.9  0.515388
Iris-virginica   114  16.261157  141.907407  169           5.6  0.599840

                               SepalWidthCm                           \
                     mean  max          min       std      mean  max
Species
Iris-setosa      4.995745  5.8          2.9  0.320562  3.401549  4.2
Iris-versicolor  5.934459  7.0          2.0  0.314952  2.775472  3.4
Iris-virginica   6.598148  7.9          2.2  0.332893  2.988889  3.8

                PetalLengthCm                          PetalWidthCm            \
                          min       std      mean  max          min       std
Species
Iris-setosa               1.1  0.159178  1.465957  1.9     0.100000  0.082008
Iris-versicolor           3.0  0.499573  4.222914  5.1     1.000000  0.199782
Iris-virginica            4.8  0.548809  5.564815  6.9     1.180357  0.299473


                     mean  max
Species
Iris-setosa      0.225532  0.4
Iris-versicolor  1.332075  1.8
Iris-virginica   2.012599  2.5

In [14]:
df.isna().sum() #burada boş değerleri toplamını görmek istiyoruz.

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [20]:
for i in df.columns[1:-1]:
    df[column].fillna(value =df[column]. mean(), inplace = True )

NameError: name 'column' is not defined